/* Work Sans font from google */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

/* Navbar Styles */
.navbar {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  background: rgb(255, 255, 255);
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1070px;
  margin: 0 auto;
  padding: 20px 0;
}

.nav-container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.nav-container a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}

.nav-logo img {
  width: 50px;
}

.nav-title {
  font-size: 32px;
}

.g {
  color: #ff42a5;
}

.follow {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #e6e5e9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border: none;
  transition: all 0.5s;
}

.follow:hover {
  background-color: #c1c0c5;
}

/* Banner Styles */
.banner {
  background-image: url("../images/group_14.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner-container {
  width: 1070px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.banner-right-side img {
  width: 550px;
}

.banner-title {
  font-size: 32px;
  text-transform: uppercase;
}

.banner-subtitle {
  font-size: 66px;
  color: #ff42a5;
}

.banner-desctiption-groups {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-description {
  font-size: 16px;
  color: rgb(43, 42, 42);
  margin: 5px 0px;
}

/* ################# */
/* BTN */

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--blue {
  background-color: rgb(78, 197, 247);
  color: #777;
}

.btn--blue::after {
  background-color: rgb(78, 197, 247);
}

.btn--pink {
  background-color: rgb(255, 66, 165);
  color: #777;
}

.btn--pink::after {
  background-color: rgb(255, 66, 165);
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn--white::after {
  background-color: #fff;
}

.btn--animated {
  animation: moveInBottom 0.1s ease-out 0.1s;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* ################# */
/* End of Button Animation */

.banner-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin: 25px 0px;
}

.btn-banner {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 48px;
  background: rgb(78, 197, 247);
  border: none;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

/* Btn Primary */
.btn-primary {
  padding: 10px 20px;
  border-radius: 48px;
  background-color: rgb(255, 66, 165);
  font-size: 14px;
  border: none;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
