/* Work Sans font from google */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

/* Navbar Styles */
.navbar {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  background: rgb(255, 255, 255);
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1070px;
  margin: 0 auto;
  padding: 20px 0;
}

.nav-container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.nav-container a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}

.nav-logo img {
  width: 50px;
}

.nav-title {
  font-size: 32px;
}

.g {
  color: #ff42a5;
}

.follow {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #e6e5e9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border: none;
  transition: all 0.5s;
}

.follow:hover {
  background-color: #c1c0c5;
}

/* Banner Styles */
.banner {
  background-image: url("../images/group_14.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner-container {
  width: 1070px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.banner-right-side img {
  width: 550px;
}

.banner-title {
  font-size: 32px;
  text-transform: uppercase;
}

.banner-subtitle {
  font-size: 66px;
  color: #ff42a5;
}

.banner-desctiption-groups {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-description {
  font-size: 16px;
  color: rgb(43, 42, 42);
  margin: 5px 0px;
}

/* ################# */
/* BTN */

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--blue {
  background-color: rgb(78, 197, 247);
  color: #777;
}

.btn--blue::after {
  background-color: rgb(78, 197, 247);
}

.btn--pink {
  background-color: rgb(255, 66, 165);
  color: #777;
}

.btn--pink::after {
  background-color: rgb(255, 66, 165);
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn--white::after {
  background-color: #fff;
}

.btn--animated {
  animation: moveInBottom 0.1s ease-out 0.1s;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* ################# */
/* End of Button Animation */

.banner-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin: 25px 0px;
}

.btn-banner {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 48px;
  background: rgb(78, 197, 247);
  border: none;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

/* Btn Primary */
.btn-primary {
  padding: 10px 20px;
  border-radius: 48px;
  background-color: rgb(255, 66, 165);
  font-size: 14px;
  border: none;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

/* We are gamer styles */
.gamer {
  background-color: #fff9fc;
  padding: 70px 0px;
}

.gamer-container {
  width: 1070px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.gamer-left-side {
  width: 60%;
}

.gamer-left-side img {
  width: 80%;
}

.gamer-right-side {
  width: 40%;
  text-align: right;
}

.gamer-title {
  font-size: 32px;
  margin-bottom: 20px;
  color: #ff42a5;
}

.gamer-description {
  font-size: 14px;
  margin-bottom: 20px;
  color: rgb(97, 97, 97);
}

.gamer-purpose {
  font-size: 16px;
  color: rgb(97, 97, 97);
  margin: 20px 0px 10px 0px;
}

.gamer-subtitle {
  font-size: 20px;
  color: rgb(71, 70, 70);
}

/* Online Games Styles */
.online-games {
  padding: 50px 0px;
}

.online-gamer-container {
  width: 1070px;
  margin: 0 auto;
}

.online-gamer-title {
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 36px;
}

.funny {
  color: #ff42a5;
}

.online-gamer-subtitle {
  text-align: center;
  font-size: 14px;
  color: rgb(71, 70, 70);
  margin-bottom: 45px;
}

.online-games-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
  margin-bottom: 30px;
}

.online-games-card {
  width: calc((100% - 45px) / 4);
}

.online-games-card img {
  width: calc((100% - 16px));
  margin-bottom: 10px;
  transition: all 0.1s;
}

.online-games-image {
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 240px;
  height: 280px;
  margin-bottom: 15px;
}

.online-games-image img {
  width: 100%;
  height: 100%;
}

.online-games-image-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.1s;
  transform: translateY(-50%) translateX(-50%);
}

.online-games-image-hover p {
  color: #ff42a5;
  font-size: 18px;
}

.online-games-image-hover i {
  color: white;
  font-size: 32px;
}

.online-games-image:hover {
  border: 4px solid #ff42a5;
  border-radius: 15px;
}

.online-games-image:hover .online-games-image-hover {
  top: 50%;
  left: 50%;
  transition: all 0s;
  transform: translateY(-50%) translateX(-50%);
  opacity: 1;
}

.online-games-card-title {
  font-size: 14px;
}

.online-image-card-1 {
  background-image: url("../images/rectangle_4.png");
}

.online-image-card-2 {
  background-image: url("../images/rectangle_5.png");
}

.online-image-card-3 {
  background-image: url("../images/rectangle_7.png");
}

.online-image-card-4 {
  background-image: url("../images/rectangle_6.png");
}

.online-image-card-1,
.online-image-card-2,
.online-image-card-3,
.online-image-card-4 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.online-image-card-1:hover {
  background-image: linear-gradient(
      45deg,
      rgba(43, 30, 30, 0.75),
      rgba(83, 101, 119, 0.75)
    ),
    url("../images/rectangle_4.png");
}

.online-image-card-2:hover {
  background-image: linear-gradient(
      45deg,
      rgba(43, 30, 30, 0.75),
      rgba(83, 101, 119, 0.75)
    ),
    url("../images/rectangle_5.png");
}

.online-image-card-3:hover {
  background-image: linear-gradient(
      45deg,
      rgba(43, 30, 30, 0.75),
      rgba(83, 101, 119, 0.75)
    ),
    url("../images/rectangle_7.png");
}

.online-image-card-4:hover {
  background-image: linear-gradient(
      45deg,
      rgba(43, 30, 30, 0.75),
      rgba(83, 101, 119, 0.75)
    ),
    url("../images/rectangle_6.png");
}

/* Play Instantly Styles */
.play-instantly {
  padding: 80px 0px;
}

.play-instantly-container {
  width: 1070px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.play-instantly-left-side {
  width: 40%;
  text-align: end;
}

.play-instantly-right-side {
  position: relative;
  width: 60%;
  text-align: end;
  right: 0px;
}

.play-instantly-right-side img:first-child {
  width: 450px;
}

.play-instantly-right-side img:last-child {
  width: 150px;
  position: absolute;
  bottom: -35px;
  left: 115px;
}

.play-instantly-title {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 20px;
}

.play-instantly-description {
  width: 70%;
  margin: 0px 0px 10px auto;
  font-size: 14px;
  color: rgb(71, 70, 70);
}

/* Play Gmaes Online Styles */
.play-games {
  padding: 80px 0px;
  margin-bottom: 30px;
}

.play-games-container {
  width: 1070px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.play-games-left-side {
  width: 60%;
  text-align: start;
  position: relative;
}

.play-games-left-side img:first-child {
  width: 400px;
  display: flex;
}

.play-games-left-side img:last-child {
  width: 150px;
  position: absolute;
  bottom: -60px;
  left: 320px;
  border-right: 2px solid white;
  box-shadow: #fff9fc;
}

.play-games-right-side {
  width: 40%;
}

.play-games-title {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 20px;
}

.play-games-description {
  width: 70%;
  font-size: 14px;
  color: rgb(71, 70, 70);
}
